@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* inter-300 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v12-latin_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-300.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-300.svg#Inter") format("svg");
  /* Legacy iOS */
}
/* inter-regular - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-regular.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-regular.svg#Inter") format("svg");
  /* Legacy iOS */
}
/* inter-500 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v12-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-500.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-500.svg#Inter") format("svg");
  /* Legacy iOS */
}
/* inter-600 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-600.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-600.svg#Inter") format("svg");
  /* Legacy iOS */
}
.filter__worlds-styles {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #606483;
}

.checkbox {
  border: 1px solid #D8DEEB;
  border-radius: 2px;
}

.descriptions__titles {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2F93E1;
}

.descriptions__price {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #333153;
}

.descriptions__bottom-item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.descriptions__world-styles {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #606483;
}

.progress-bar-w {
  max-width: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.progress-bar {
  max-width: 104px;
  width: 100%;
  height: 8px;
  background: #EEF2F4;
  border-radius: 30px;
  display: flex;
}
.progress-bar__progress {
  width: 48%;
  height: 100%;
  background: #606483;
  border-radius: 30px 0px 0px 30px;
}

.progress-bar__percent {
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #606483;
  margin: 0px 0px 0px 10px;
}

.header-w {
  width: 100%;
  padding: 82px 0px 0px 0px;
}

.header {
  width: inherit;
}
.header__inner {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #080534;
  margin-bottom: 16px;
}

.tabs-w {
  width: 100%;
}

.tabs {
  width: inherit;
}
.tabs__inner {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.tabs__items {
  position: relative;
  display: flex;
  max-width: 842px;
  width: 100%;
  height: 45px;
}
.tabs__items::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #EEF2F4;
  bottom: 0;
  z-index: 0;
}
.tabs__nav {
  height: 100%;
}
.tabs__nav-list {
  height: inherit;
  display: flex;
  list-style: none;
}
.tabs__nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.tabs__nav-item:not(:first-child) {
  margin-left: 24px;
}
.tabs__nav-itemlink {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #728096;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}
.tabs__nav-itemlink:hover {
  color: #333153;
  transition: all 0.3s ease;
}
.tabs__nav-itemlink--active {
  border-bottom: 2px solid #333153;
  z-index: 1;
  color: #333153;
}
.tabs__nav-item-amountlink {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  margin-left: 12px;
}

.filter-w {
  width: 100%;
  padding: 24px 0px 16px 0px;
}

.filter {
  width: inherit;
}
.filter__inner {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.filter__items {
  max-width: inherit;
  width: inherit;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 575px) {
  .filter__items {
    flex-direction: column;
  }
}
.filter__checkbox-w {
  display: flex;
}
.filter__checkbox-name-w {
  width: 139px;
  height: 26px;
  background: #F3F6F8;
  border-radius: 6px;
  margin-left: 8px;
}
.filter__checkbox-name {
  padding: 6px 10px;
  cursor: pointer;
}
.filter__drropdowns {
  position: relative;
  display: flex;
}
@media only screen and (max-width: 575px) {
  .filter__drropdowns {
    margin-top: 20px;
    justify-content: flex-end;
  }
}
.filter__drropdown--js-toggle-opn-drrop .drropdown {
  height: auto;
  min-height: 30px;
  overflow: visible;
}
.filter__drropdown-items {
  width: 100%;
  display: flex;
  background: #F3F6F8;
  border-radius: 6px;
  padding: 6px 10px 6px 12px;
  cursor: pointer;
}
.filter__drropdown-arrow {
  margin-left: 7.25px;
}
.filter__drropdown-ads {
  left: -10px;
  position: absolute;
  max-width: 155px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 9px 40px rgba(109, 133, 152, 0.15);
  border-radius: 6px;
}
.filter__control-publications {
  padding: 6px 8px 6px 10px;
  background: #F3F6F8;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 8px;
}
.filter__control-publications-items {
  display: flex;
  align-items: center;
}
.filter__control-publications-arrowup {
  margin: 0px 0px 0px 8px;
}
.filter__control-publications-arrow {
  margin: 0px 0px 0px 8px;
}
.filter__control-publications-drropdown {
  position: absolute;
  max-width: 176px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 1px 4px 40px rgba(54, 94, 125, 0.1);
  border-radius: 6px;
  padding: 8px;
  right: 0px;
  top: 30px;
  z-index: 30;
}

.drropdown {
  position: absolute;
  height: 0;
  min-height: 0;
  overflow: hidden;
}
.drropdown__nav-list {
  list-style: none;
}
.drropdown__nav-list-params-ads {
  padding: 20px 12px 20px 8px;
}
.drropdown__nav-list-params-publication {
  padding: 8px;
  width: 176px;
  height: 156px;
  background: #FFFFFF;
  box-shadow: 1px 4px 40px rgba(54, 94, 125, 0.1);
  border-radius: 6px;
}
.drropdown__nav-itemlink {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #334866;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.drropdown__nav-listitem-params-ads {
  padding: 0px 0px 0px 12px;
}
.drropdown__nav-listitem-params-ads:not(:last-child) {
  margin-bottom: 14px;
}
.drropdown__nav-listitem-params-publication {
  padding: 8px 2px 10px 8px;
  margin-bottom: 4px;
}
.drropdown__nav-itemlink-param-publication {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #080534;
}
.drropdown__nav-listitem:hover {
  background-color: #2F93E1;
}
.drropdown__nav-itemcount {
  width: 20px;
  height: 22px;
  background: #EEF2F4;
  border-radius: 9px;
  margin: 0px 0px 0px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drropdown__nav-itemsvg {
  margin-right: 14px;
}

.cards-w {
  width: 100%;
}

.cards {
  width: inherit;
}
.cards__inner {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (max-width: 767px) {
  .cards__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.cards__items {
  width: 100%;
  padding: 20px 0px 24px 0px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .cards__items {
    flex-direction: column;
    max-width: 250px;
    width: 100%;
  }
}
.cards__content {
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .cards__content {
    flex-direction: column;
  }
}
.cards__img-w {
  position: relative;
  width: 230px;
  height: 170px;
  background: #E6F8FF;
  border-radius: 6px;
}
.cards__img-slider {
  width: 230px;
  height: 170px;
  /* Лента слайдов */
  /* Активная точка */
  /* Элемент точки */
}
.cards__img-slider .slick-list {
  overflow: hidden;
}
.cards__img-slider .slick-track {
  display: flex;
}
.cards__img-slider .slick-dots {
  position: absolute;
  bottom: 11px;
  display: flex;
  z-index: 10;
  left: 40%;
  list-style: none;
}
.cards__img-slider .slick-dots li {
  margin: 0px 2.5px;
}
.cards__img-slider .slick-dots li.slick-active button {
  opacity: 1;
}
.cards__img-slider .slick-dots li button {
  font-size: 0;
  width: 5.6px;
  height: 5.6px;
  background: #FFFFFF;
  box-shadow: 1px 4px 12px rgba(54, 94, 125, 0.1);
  border-radius: 50%;
  border: 0;
  opacity: 0.5;
}
.cards__img {
  max-width: 100%;
  height: 170px;
  margin: 0;
}
.cards__img-checkbox-w {
  position: absolute;
  top: 12px;
  left: 12px;
}
.cards__img-icon-w {
  position: absolute;
  right: 12px;
  bottom: 11px;
}
.cards__img-icon:hover {
  fill: #080534;
}
.cards__img-hotmark-w {
  position: absolute;
  bottom: -6px;
  left: 0px;
}
.cards__descriptions {
  margin: 0px 0px 0px 16px;
}
@media only screen and (max-width: 767px) {
  .cards__descriptions {
    margin: 10px 0px;
  }
}
.cards__descriptions-top {
  margin: 0px 0px 16px 0px;
}
.cards__descriptions-title--color-red {
  color: #FF5A50;
}
.cards__descriptions-title--color-orange {
  color: #FFA438;
}
.cards__descriptions-title--color-rose {
  color: #D75DC3;
}
.cards__controls {
  display: flex;
  max-width: 228px;
  width: 100%;
}
.cards__statistics {
  max-width: 176px;
  width: 100%;
  margin: 0px 52px 0px 0px;
}
.cards__statistics-navlist {
  list-style: none;
}
.cards__statistics-navitem {
  color: #080534;
}
.cards__statistics-navitem:not(:last-child) {
  margin-bottom: 14px;
}
.cards__statistics-itemlinke {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.cards__statistics-icon {
  margin: 0px 6px 0px 0px;
}
.cards__statistics-itemamout-w {
  margin: 0px 0px 0px 8px;
}
.cards__statistics-itemamout {
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #606483;
}
.cards__btns-board {
  position: relative;
}
.cards__btns-board-icon {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D8DEEB;
  border-radius: 6px;
  cursor: pointer;
}
.cards__btns-board-icon:hover {
  background: #D8DEEB;
  transition: all 0.3s ease;
}
.cards__btns-board-icon:not(:last-child) {
  margin-bottom: 10px;
}
.cards__btns-board-drropdown {
  max-width: 100px;
  width: 100%;
}

.btns-board-icon-js--active .btns-board-drropdown {
  max-width: 100px;
  width: 100%;
  height: auto;
  min-height: 30px;
  overflow: visible;
  background-color: #080534;
}

.company {
  width: 100%;
  display: flex;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 16px;
}
.company__logo {
  margin-right: 10px;
}
.company__title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #333153;
}
.company__address {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #606483;
}

.icon-more--js-active .drropdown-btns-board {
  padding: 10px;
  height: auto;
  min-height: 30px;
  overflow: visible;
  opacity: 1;
}

.drropdown-btns-board {
  position: absolute;
  width: 142px;
  background: #FFFFFF;
  border-radius: 2px;
  left: -50px;
  top: -165px;
  padding: 0px;
  box-shadow: 1px 4px 40px rgba(54, 94, 125, 0.1);
  border-radius: 6px;
  height: 0;
  min-height: 0;
  overflow: hidden;
  opacity: 0;
}
.drropdown-btns-board__navlist {
  list-style: none;
}
.drropdown-btns-board__listitem {
  width: 122px;
  height: 34px;
  border-radius: 6px;
}
.drropdown-btns-board__itemlink {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: #606483;
  padding: 8px;
  width: 100%;
  height: 100%;
}
.drropdown-btns-board__itemlink:hover {
  color: #080534;
  background: #EEF2F4;
}

.section {
  display: none;
  width: 100%;
}
.section--active {
  display: block;
}
@media only screen and (max-width: 767px) {
  .section--active {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}/*# sourceMappingURL=styles.css.map */