  @import 'reset.scss';
  @import 'fonts.scss';
  @import 'mixin.scss';

  .filter__worlds-styles {
     font-family: 'Inter';
     font-weight: 400;
     font-size: 12px;
     line-height: 14px;
     color: #606483;
  }

  .checkbox {
     border: 1px solid #D8DEEB;
     border-radius: 2px;
  }

  .descriptions__titles {
     font-family: 'Inter';
     font-weight: 400;
     font-size: 18px;
     line-height: 22px;
     color: #2F93E1;
  }

  .descriptions__price {
     font-family: 'Inter', sans-serif;
     font-weight: 600;
     font-size: 16px;
     line-height: 22px;
     color: #333153;
  }



  .progress-bar-w {
     max-width: 140px;
     width: 100%;
     display: flex;
     align-items: center;
     margin-top: 22px;
  }

  .progress-bar {
     max-width: 104px;
     width: 100%;
     height: 8px;
     background: #EEF2F4;
     border-radius: 30px;
     display: flex;

     &__progress {
        width: 48%;
        height: 100%;
        background: #606483;
        border-radius: 30px 0px 0px 30px;
     }
  }

  .progress-bar__percent {
     font-family: 'Inter';
     font-weight: 500;
     font-size: 12px;
     line-height: 14px;
     color: #606483;
     margin: 0px 0px 0px 10px;
  }

  .header-w {
     width: 100%;
     padding: 82px 0px 0px 0px;
  }

  .header {
     width: inherit;

     &__inner {
        max-width: 880px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
     }

     &__title {
        font-family: 'Inter';
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: #080534;
        margin-bottom: 16px;
     }
  }

  .tabs-w {
     width: 100%;
  }

  .tabs {
     width: inherit;

     &__inner {
        max-width: 880px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
     }

     &__items {
        position: relative;
        display: flex;
        max-width: 842px;
        width: 100%;
        height: 45px;

        &::before {
           content: '';
           position: absolute;
           width: 100%;
           height: 1px;
           background-color: #EEF2F4;
           bottom: 0;
           z-index: 0;
        }
     }

     &__nav {
        height: 100%;
     }

     &__nav-list {
        height: inherit;
        display: flex;
        list-style: none;
     }

     &__nav-item {
        height: 100%;
        display: flex;
        align-items: center;

        &:not(:first-child) {
           margin-left: 24px;
        }
     }

     &__nav-itemlink {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #728096;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover {
           color: #333153;
           transition: all 0.3s ease;
        }

        &--active {
           border-bottom: 2px solid #333153;
           z-index: 1;
           color: #333153;
        }
     }

     &__nav-item-amountlink {
        font-family: 'Inter';
        font-style: italic;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        margin-left: 12px;
     }
  }

  .filter-w {
     width: 100%;
     padding: 24px 0px 16px 0px;
  }

  .filter {
     width: inherit;

     &__inner {
        max-width: 880px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
     }

     &__items {
        max-width: inherit;
        width: inherit;
        display: flex;
        justify-content: space-between;

        @include mq (md) {
           flex-direction: column;
        }
     }

     &__checkbox {
        display: none;

        &--js-active {
           display: flex;
           align-items: center;
        }
     }

     &__checkbox-archive {
        display: none;

        &--js-active {
           display: flex;
        }
     }

     &__checkbox-name-w {
        width: 139px;
        height: 26px;
        background: #F3F6F8;
        border-radius: 6px;
        margin-left: 8px;
        padding: 6px 10px;

     }

     &__checkbox-name {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #606483;
        cursor: pointer;
     }

     &__selects {
        position: relative;
        display: flex;

        @include mq (md) {
           margin-top: 20px;
           justify-content: flex-end;
        }
     }

     &__drropdown {
        &--js-toggle-opn-drrop .drropdown {
           height: auto;
           min-height: 30px;
           overflow: visible;
        }
     }

     &__drropdown-items {
        width: 100%;
        display: flex;
        background: #F3F6F8;
        border-radius: 6px;
        padding: 6px 10px 6px 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
     }



     &__drropdown-ads {
        left: -10px;
        position: absolute;
        max-width: 155px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 9px 40px rgba(109, 133, 152, 0.15);
        border-radius: 6px;
     }

     &__name {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #606483;
        cursor: pointer;
     }

     &__select {
        padding: 6px 8px 6px 10px;
        background: #F3F6F8;
        border-radius: 6px;
        cursor: pointer;
        margin-left: 8px;
     }

     &__select-items {
        display: flex;
        align-items: center;
     }

     &__name {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #606483;
        cursor: pointer;
     }

     &__select-arrowup {
        margin: 0px 0px 0px 8px;
     }

     &__control-publications-arrow {
        margin: 0px 0px 0px 8px;
     }

     &__control-publications-drropdown {
        position: absolute;
        max-width: 176px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 1px 4px 40px rgba(54, 94, 125, 0.1);
        border-radius: 6px;
        right: 0px;
        top: 30px;
        z-index: 30;
     }
  }

  .drropdown {
     position: absolute;
     height: 0;
     min-height: 0;
     overflow: hidden;

     &__nav-list {
        list-style: none;
     }

     &__nav-list-params-ads {
        padding: 20px 12px 20px 8px;
     }

     &__nav-list-params-publication {
        padding: 8px;
        width: 176px;
        height: 156px;
        background: #FFFFFF;
        box-shadow: 1px 4px 40px rgba(54, 94, 125, 0.1);
        border-radius: 6px;
     }

     &__nav-listitem {
        margin: 0;
     }

     &__nav-itemlink {}

     &__nav-itemtext {
        color: #080534;
        margin-right: 8px;
     }

     &__nav-listitem-params-ads {
        padding: 0px 0px 0px 12px;

        &:not(:last-child) {
           margin-bottom: 14px;
        }
     }

     &__nav-listitem-params-publication {
        width: 160px;
        height: 32px;
        margin-bottom: 4px;
     }

     &__nav-itemlink-param-publication {
        width: 100%;
        height: 100%;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 8px 8px 10px 8px;

        &:hover {
           background: #F3F6F8;
           border-radius: 6px;
        }

        &:hover .drropdown__nav-itemtext {
           color: #606483;

        }
     }

     &__nav-listitem {}

     &__nav-itemcount {
        width: 20px;
        height: 22px;
        background: #EEF2F4;
        border-radius: 9px;
        margin: 0px 0px 0px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
     }

     &__nav-itemsvg {
        margin-left: 14px;
     }
  }

  .cards-w {
     width: 100%;
  }

  .cards {
     width: inherit;

     &__inner {
        max-width: 880px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;

        @include mq (lg) {
           display: flex;
           justify-content: space-around;
           flex-wrap: wrap;
        }
     }


  }

  .card {
     width: 100%;
     padding: 20px 0px 24px 0px;
     display: flex;
     justify-content: space-between;

     @include mq (lg) {
        flex-direction: column;
        max-width: 250px;
        width: 100%;
     }

     @include mq (md) {}

     &__content {
        width: 100%;
        display: flex;

        @include mq (lg) {
           flex-direction: column;
           margin-bottom: 15px;
        }
     }

     &__img-w {
        position: relative;
        width: 230px;
        height: 170px;
        background: #E6F8FF;
        border-radius: 6px;
     }

     &__information {
        position: absolute;
        top: 12px;
        right: 12px;

        background: #FAFCFD;
        box-shadow: 0px 1px 3px rgba(42, 45, 52, 0.05);
        border-radius: 4px;
        padding: 3px 8px;
     }

     &__information-text {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        text-align: center;
        color: #080534;
     }

     &__slider {
        width: 230px;
        height: 170px;

        & .slick-slide {}

        & .slick-list {
           overflow: hidden;
        }

        /* Лента слайдов */
        & .slick-track {
           display: flex;
        }

        & .slick-dots {
           position: absolute;
           bottom: 11px;
           display: flex;
           z-index: 10;
           left: 40%;
           list-style: none;
        }

        & .slick-dots li {
           margin: 0px 2.5px;
        }

        /* Активная точка */
        & .slick-dots li.slick-active button {
           opacity: 1;
        }

        /* Элемент точки */
        & .slick-dots li button {
           font-size: 0;
           width: 5.6px;
           height: 5.6px;
           background: #FFFFFF;
           box-shadow: 1px 4px 12px rgba(54, 94, 125, 0.1);
           border-radius: 50%;
           border: 0;
           opacity: 0.5;
           cursor: pointer;
        }

     }

     &__img {
        max-width: 100%;
        height: 170px;
        margin: 0;
     }

     &__checkbox-w {
        position: absolute;
        top: 12px;
        left: 12px;
     }

     &__checkbox {
        cursor: pointer;
     }

     &__icon-w {
        position: absolute;
        right: 12px;
        bottom: 11px;
     }

     &__icon {
        &:hover {
           fill: #080534;
        }
     }

     &__hotmark-w {
        position: absolute;
        bottom: -6px;
        left: 0px;
     }

     &__descriptions {
        margin: 0px 0px 0px 16px;

        @include mq (lg) {
           margin: 10px 0px;
        }
     }

     &__descriptions-top {
        margin: 0px 0px 16px 0px;
     }

     &__title {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #2F93E1;

        &--color-red {
           color: #FF5A50;
        }

        &--color-orange {
           color: #FFA438;
        }

        &--color-rose {
           color: #D75DC3;
        }
     }

     &__descriptions-nav-list {
        list-style: none;
     }

     &__descriptions-nav-list-item {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #606483;

        &:not(:last-child) {
           margin: 0px 0px 8px 0px;
        }
     }

     &__controls {
        display: flex;
        max-width: 228px;
        width: 100%;
     }

     &__statistics {
        max-width: 176px;
        width: 100%;
        margin: 0px 52px 0px 0px;
     }

     &__statistics-navlist {
        list-style: none;
     }

     &__statistics-navitem {
        color: #080534;

        &:not(:last-child) {
           margin-bottom: 14px;
        }
     }

     &__statistics-itemlinke {
        display: flex;
        align-items: center;
        text-decoration: none;
     }

     &__statistics-icon {
        margin: 0px 6px 0px 0px;
     }

     &__statistics-itemamout-w {
        margin: 0px 0px 0px 8px;
     }

     &__statistics-itemname {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #080534;
     }

     &__statistics-itemamout {
        font-family: 'Inter';
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #606483;
     }

     &__btns-board {
        position: relative;
     }

     &__btns-board-icon {
        position: relative;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #D8DEEB;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
           background: #D8DEEB;
           transition: all 0.3s ease;
        }

        &:not(:last-child) {
           margin-bottom: 10px;
        }
     }

     &__btns-board-drropdown {
        max-width: 100px;
        width: 100%;
     }
  }

  .btns-board-icon-js {
     &--active .btns-board-drropdown {
        max-width: 100px;
        width: 100%;
        height: auto;
        min-height: 30px;
        overflow: visible;
        background-color: #080534;
     }
  }

  .company {
     width: 100%;
     display: flex;
     text-decoration: none;
     font-style: normal;
     margin-bottom: 16px;

     &__logo {
        margin-right: 10px;
     }

     &__description {}

     &__title {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #333153;

     }

     &__address {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #606483;
     }
  }

  .icon-more {
     &--js-active .drropdown-btns-board {
        padding: 10px;
        height: auto;
        min-height: 30px;
        overflow: visible;
        opacity: 1;
     }
  }

  .drropdown-btns-board {
     position: absolute;
     width: 142px;
     background: #FFFFFF;
     border-radius: 2px;
     left: -104px;
     top: -165px;
     padding: 0px;
     box-shadow: 1px 4px 40px rgba(54, 94, 125, 0.1);
     border-radius: 6px;
     height: 0;
     min-height: 0;
     overflow: hidden;
     opacity: 0;


     &__navlist {
        list-style: none;
     }

     &__listitem {
        width: 122px;
        height: 34px;
        border-radius: 6px;

     }

     &__itemlink {
        display: inline-block;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        text-decoration: none;
        color: #606483;
        padding: 8px;
        width: 100%;
        height: 100%;


        &:hover {
           color: #080534;
           background: #EEF2F4;

        }
     }
  }


  .section {
     display: none;
     width: 100%;

     &--active {
        display: block;

        @include mq(lg) {
           display: flex;
           flex-wrap: wrap;
           justify-content: space-around;
        }
     }
  }