@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* inter-300 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v12-latin_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-300.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-300.svg#Inter") format("svg");
  /* Legacy iOS */
}
/* inter-regular - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-regular.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-regular.svg#Inter") format("svg");
  /* Legacy iOS */
}
/* inter-500 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v12-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-500.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-500.svg#Inter") format("svg");
  /* Legacy iOS */
}
/* inter-600 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-600.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-600.svg#Inter") format("svg");
  /* Legacy iOS */
}
.checkbox {
  border: 1px solid #D8DEEB;
  border-radius: 2px;
}

.descriptions__titles {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2F93E1;
}

.descriptions__price {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #333153;
}

.progress-bar-w {
  max-width: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.progress-bar {
  max-width: 104px;
  width: 100%;
  height: 8px;
  background: #EEF2F4;
  border-radius: 30px;
  display: flex;
}
.progress-bar__progress {
  width: 48%;
  height: 100%;
  background: #606483;
  border-radius: 30px 0px 0px 30px;
}

.progress-bar__percent {
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #606483;
  margin: 0px 0px 0px 10px;
}

.header-w {
  width: 100%;
  padding: 82px 0px 0px 0px;
}

.header {
  width: inherit;
}
.header__inner {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #080534;
  margin-bottom: 16px;
}

.tabs-w {
  width: 100%;
}

.tabs {
  width: inherit;
}
.tabs__inner {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.tabs__items {
  position: relative;
  display: flex;
  max-width: 842px;
  width: 100%;
  height: 45px;
}
.tabs__items::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #EEF2F4;
  bottom: 0;
  z-index: 0;
}
.tabs__nav {
  height: 100%;
}
.tabs__nav-list {
  height: inherit;
  display: flex;
  list-style: none;
}
.tabs__nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.tabs__nav-item:not(:first-child) {
  margin-left: 24px;
}
.tabs__nav-itemlink {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #728096;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}
.tabs__nav-itemlink:hover {
  color: #333153;
  transition: all 0.3s ease;
}
.tabs__nav-itemlink--active {
  border-bottom: 2px solid #333153;
  z-index: 1;
  color: #333153;
}
.tabs__nav-item-amountlink {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  margin-left: 12px;
}

.filter-w {
  width: 100%;
  padding: 24px 0px 16px 0px;
}

.filter {
  width: inherit;
}
.filter__inner {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.filter__items {
  max-width: inherit;
  width: inherit;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 575px) {
  .filter__items {
    flex-direction: column;
  }
}
.filter__checkbox {
  display: none;
}
.filter__checkbox--js-active {
  display: flex;
  align-items: center;
}
.filter__checkbox-archive {
  display: none;
}
.filter__checkbox-archive--js-active {
  display: flex;
}
.filter__checkbox-name-w {
  width: 139px;
  height: 26px;
  background: #F3F6F8;
  border-radius: 6px;
  margin-left: 8px;
  padding: 6px 10px;
}
.filter__checkbox-name {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #606483;
  cursor: pointer;
}
.filter__selects {
  position: relative;
  display: flex;
}
@media only screen and (max-width: 575px) {
  .filter__selects {
    margin-top: 20px;
    justify-content: flex-end;
  }
}
.filter__drropdown--js-toggle-opn-drrop .filter__drropdown-menu {
  height: auto;
  min-height: 30px;
  overflow: visible;
  opacity: 1;
  padding: 8px;
}
.filter__drropdown-items {
  width: 100%;
  display: flex;
  background: #F3F6F8;
  border-radius: 6px;
  padding: 6px 10px 6px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.filter__drropdown-ads {
  left: -10px;
  position: absolute;
  max-width: 155px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 9px 40px rgba(109, 133, 152, 0.15);
  border-radius: 6px;
}
.filter__name {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #606483;
  cursor: pointer;
}
.filter__select {
  padding: 6px 8px 6px 10px;
  background: #F3F6F8;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 8px;
}
.filter__select-items {
  display: flex;
  align-items: center;
}
.filter__name {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #606483;
  cursor: pointer;
}
.filter__select-arrowup {
  margin: 0px 0px 0px 8px;
}
.filter__control-publications-arrow {
  margin: 0px 0px 0px 8px;
}
.filter__drropdown-menu {
  position: absolute;
  max-width: 176px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 1px 4px 40px rgba(54, 94, 125, 0.1);
  border-radius: 6px;
  right: 0px;
  top: 30px;
  z-index: 30;
  height: 0;
  min-height: 0;
  overflow: hidden;
  opacity: 0;
}
.filter__drropdown-nav-list {
  background: #FFFFFF;
  list-style: none;
}
.filter__drropdown-nav-listitem {
  width: 160px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 6px;
  margin-bottom: 4px;
}
.filter__drropdown-nav-itemlink {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 8px 8px 10px 8px;
  color: #080534;
  margin-right: 8px;
}
.filter__drropdown-nav-itemlink:hover {
  background: #F3F6F8;
  border-radius: 6px;
}
.filter__drropdown-nav-itemlink:hover {
  color: #606483;
}
.cards-w {
  width: 100%;
}

.cards {
  width: inherit;
}
.cards__inner {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (max-width: 767px) {
  .cards__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.card {
  width: 100%;
  padding: 20px 0px 24px 0px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .card {
    flex-direction: column;
    max-width: 250px;
    width: 100%;
  }
}
.card__content {
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .card__content {
    flex-direction: column;
    margin-bottom: 15px;
  }
}
.card__img-w {
  position: relative;
  width: 230px;
  height: 170px;
  background: #E6F8FF;
  border-radius: 6px;
}
.card__information {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #FAFCFD;
  box-shadow: 0px 1px 3px rgba(42, 45, 52, 0.05);
  border-radius: 4px;
  padding: 3px 8px;
}
.card__information-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  color: #080534;
}
.card__slider {
  width: 230px;
  height: 170px;
  /* Лента слайдов */
  /* Активная точка */
  /* Элемент точки */
}
.card__slider .slick-list {
  overflow: hidden;
}
.card__slider .slick-track {
  display: flex;
}
.card__slider .slick-dots {
  position: absolute;
  bottom: 11px;
  display: flex;
  z-index: 10;
  left: 40%;
  list-style: none;
}
.card__slider .slick-dots li {
  margin: 0px 2.5px;
}
.card__slider .slick-dots li.slick-active button {
  opacity: 1;
}
.card__slider .slick-dots li button {
  font-size: 0;
  width: 5.6px;
  height: 5.6px;
  background: #FFFFFF;
  box-shadow: 1px 4px 12px rgba(54, 94, 125, 0.1);
  border-radius: 50%;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
}
.card__img {
  max-width: 100%;
  height: 170px;
  margin: 0;
}
.card__checkbox-w {
  position: absolute;
  top: 12px;
  left: 12px;
}
.card__checkbox {
  cursor: pointer;
}
.card__icon-w {
  position: absolute;
  right: 12px;
  bottom: 11px;
}
.card__icon:hover {
  fill: #080534;
}
.card__hotmark-w {
  position: absolute;
  bottom: -6px;
  left: 0px;
}
.card__descriptions {
  margin: 0px 0px 0px 16px;
}
@media only screen and (max-width: 767px) {
  .card__descriptions {
    margin: 10px 0px;
  }
}
.card__descriptions-top {
  margin: 0px 0px 16px 0px;
}
.card__title {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2F93E1;
}
.card__title--color-red {
  color: #FF5A50;
}
.card__title--color-orange {
  color: #FFA438;
}
.card__title--color-rose {
  color: #D75DC3;
}
.card__descriptions-nav-list {
  list-style: none;
}
.card__descriptions-nav-list-item {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #606483;
}
.card__descriptions-nav-list-item:not(:last-child) {
  margin: 0px 0px 8px 0px;
}
.card__controls {
  display: flex;
  max-width: 228px;
  width: 100%;
}
.card__statistics {
  max-width: 176px;
  width: 100%;
  margin: 0px 52px 0px 0px;
}
.card__statistics-navlist {
  list-style: none;
}
.card__statistics-navitem {
  color: #080534;
}
.card__statistics-navitem:not(:last-child) {
  margin-bottom: 14px;
}
.card__statistics-itemlinke {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.card__statistics-icon {
  margin: 0px 6px 0px 0px;
}
.card__statistics-itemamout-w {
  margin: 0px 0px 0px 8px;
}
.card__statistics-itemname {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #080534;
}
.card__statistics-itemamout {
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #606483;
}
.card__btns-board {
  position: relative;
}
.card__btns-board-icon {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D8DEEB;
  border-radius: 6px;
  cursor: pointer;
}
.card__btns-board-icon:hover {
  background: #D8DEEB;
  transition: all 0.3s ease;
}
.card__btns-board-icon:not(:last-child) {
  margin-bottom: 10px;
}
.card__btns-board-drropdown {
  max-width: 100px;
  width: 100%;
}
.card__btns-dropdown {
  position: absolute;
  width: 142px;
  background: #FFFFFF;
  border-radius: 2px;
  left: -104px;
  top: -165px;
  padding: 0px;
  box-shadow: 1px 4px 40px rgba(54, 94, 125, 0.1);
  border-radius: 6px;
  height: 0;
  min-height: 0;
  overflow: hidden;
  opacity: 0;
}
.card__btns-dropdown-navlist {
  list-style: none;
}
.card__btns-dropdown-listitem {
  width: 122px;
  height: 34px;
  border-radius: 6px;
}
.card__btns-dropdown-itemlink {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: #606483;
  padding: 8px;
  width: 100%;
  height: 100%;
}
.card__btns-dropdown-itemlink:hover {
  color: #080534;
  background: #EEF2F4;
}

.icon-more--js-active .card__btns-dropdown {
  padding: 10px;
  height: auto;
  min-height: 30px;
  overflow: visible;
  opacity: 1;
}

.company {
  width: 100%;
  display: flex;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 16px;
}
.company__logo {
  margin-right: 10px;
}
.company__title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #333153;
}
.company__address {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #606483;
}

.section {
  display: none;
  width: 100%;
}
.section--active {
  display: block;
}
@media only screen and (max-width: 767px) {
  .section--active {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}/*# sourceMappingURL=styles.css.map */